<div class="animation">
	<div class="scene1">
	  <h5>share your</h5>
	  <span class="capitalize">K</span>nowledge
	</div>
	<div class="scene2">
	  <h5>enhance your</h5>
	  <span class="capitalize">e</span>ducation
	</div>
	<div class="scene3"></div>
</div>