              <div class="content">
                <h4>Year <span data-tag="year"><%= year %></span> S<span data-tag="semester"><%= semester%></span></h4>
               </div>
              <div class="fui-arrow-right"></div>  