
  <div class="body">
  <div id="main" class="row-fluid">
    <div id="curriculum" class="span4">
        <ul class="big-show">
          <li class="active">
              <div class="content">
                <h4>ICE</h4>
                Information and Communication
              </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>AERO</h4>
                Aerospace
              </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>ADME</h4>
                Automotive Design and Manufacturing
              </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>NANO</h4>
                Nano Technology
              </div>
              <div class="fui-arrow-right"></div>  
          </li>
            <li>
              <div class="content">
                <h4>Others</h4>
                General Education
              </div>
              <div class="fui-arrow-right"></div>  
          </li>
        </ul>
    </div>
    <div id="year" class="span4">
        <ul class="small-show">
          <li>
              <div class="content">
                <h4>Year 1 S1</h4>
               </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>Year 1 S2</h4>
               </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>Year 2 S1</h4>
               </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>Year 2 S2</h4>
               </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>Year 3 S1</h4>
                </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>Year 3 S2</h4>
                </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>Year 4 S1</h4>
               </div>
              <div class="fui-arrow-right"></div>  
          </li>
          <li>
              <div class="content">
                <h4>Year 4 S2</h4>
               </div>
              <div class="fui-arrow-right"></div>  
          </li>
        </ul>
    </div>
    <div id="course" >
      <ul class="small-show">
        <li>
          <div class="content">
          <h4>User Interface Design</h4>
          2143416
          </div>
          <div class="fui-arrow-right"></div>  
        </li>
      </ul>
    </div>
  </div>
  <div class="row-fluid" style="height:0px">
    <div class="span12">
    <div id="search-tool" class="span4">
          <div class="footer search">
            <!-- AJAX CALL ONLY -->
              <div class="span10"><input id="search-course" type="search" placeholder="Find your course" class="pull-left"></div>
              <div class="fui-search pull-right"></div>
          </div>
    </div>
    </div>
  </div>
  </div>
  </div>
