<div id="show-course" class="body show" style="display:none">
	<div class="row-fluid">
		<div class="span3 span-no-left">
				<div class="show-rating">
					<div class="show-rating-block">12</div>
					<div class="show-rating-block">24</div>
					<div class="show-rating-block">56</div>
				</div>
				<div class="span10 show-year">
					<div class="show-year-block">Year 2013</div>
					<div class="show-year-block">Year 2012</div>
					<div class="show-year-block">Year 2011</div>
					<div class="show-year-block">Year 2010</div>
				</div>
		</div>
		<div class="span9 span-no-left">
			<div class="border-left">
				<div class="show-block">
					<h5 id="show-course-title"><%= @course.name %></h%>
					<h6 id="show-course-id"><%= @course.number %></h6>
				</div>
				<div class="show-block" style="height:200px">
					<%= @course.description %>
				</div>
				<div class="show-block" style="height:300px">
					Course Review
				</div>

			</div>
		</div>
	</div>
</div>