
<div id="show-course" class="body show" style="display:none">
	<div class="row-fluid">
		<div class="span3 span-no-left">
				<div class="show-rating">
					<div class="show-rating-block">12</div>
					<div class="show-rating-block">24</div>
					<div class="show-rating-block">56</div>
				</div>
				<div class="span10 show-year">
					<div class="show-year-block">Year 2013</div>
					<div class="show-year-block">Year 2012</div>
					<div class="show-year-block">Year 2011</div>
					<div class="show-year-block">Year 2010</div>
				</div>
		</div>
		<div class="span9 span-no-left">
			<div class="border-left">
				<div class="show-block">
					<h5 id="show-course-title"><%= @course.name %></h%>
					<h6 id="show-course-id"><%= @course.number %></h6>
				</div>
				<div class="show-block" style="height:200px">
					<%= @course.description %>
				</div>
				<div class="show-block" style="height:300px">
					<div style="height:250px">
					  <div class="show-comment-block prime">
								<div class="show-comment-content">
								This course is great! I really like this course!! Ajarn is so jai deeeee.
								</div>
								<div class="show-comment-footer">
								<% 5.times do %>
								<span class="fui-star-2"></span>
								<% end %>
								<span class="right"><strong>By</strong> Decha Tesapirat</span>
								</div>
					  </div>
					  <div class="show-comment-block prime">
								<div class="show-comment-content">
								Without C, we would be programming in OBOL
								</div>
								<div class="show-comment-footer">
								<% 5.times do %>
								<span class="fui-star-2"></span>
								<% end %>
								<span class="right"><strong>By</strong> Putti Orungrochkul</span></div>
					  </div>
					</div>
					<div class="pull-right"><a href="#modal" role="button" class="btn btn-inverse btn-large btn-block" data-toggle="modal">View More</a></div>
					
					<div id="modal" class="modal hide fade" role="dialog" aria-hidden="true">
						<div class="modal-header">
						<h6><span class="fui-chat"></span>&nbsp;&nbsp;&nbsp;Course Review</h6>
						</div>
						<div class="modal-body">
							<div class="show-comment-block">
								<div class="show-comment-content">
								This course is great! I really like this course!! Ajarn is so jai deeeee.
								</div>
								<div class="show-comment-footer">
								<% 5.times do %>
								<span class="fui-star-2"></span>
								<% end %>
								<span class="right"><strong>By</strong> Decha Tesapirat</span>
								</div>
							</div>
							<div class="show-comment-block">
								<div class="show-comment-content">
								Without C, we would be programming in OBOL
								</div>
								<div class="show-comment-footer">
								<% 5.times do %>
								<span class="fui-star-2"></span>
								<% end %>
								<span class="right"><strong>By</strong> Putti Orungrochkul</span></div>
					 	 	</div>
							<div class="show-comment-block">
								<div class="show-comment-content">
								This subject is not easy to get A.
								</div>
								<div class="show-comment-footer">
								<% 3.times do %>
								<span class="fui-star-2"></span>
								<% end %>
								<span class="right"><strong>By</strong> Anonymous#1988</span>
								</div>
							</div>
							<div class="show-comment-block">
								<div class="show-comment-content">
								I hate this subjecttttt.
								</div>
								<div class="show-comment-footer">
								<% 1.times do %>
								<span class="fui-star-2"></span>
								<% end %>
								<span class="right"><strong>By</strong> Anonymous#5172</span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-inverse btn-large" data-dismiss="modal" aria-hidden="true">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>