<div class="body" style="height:460px;">
	<div class="row course-title">
	  <div class="span12" style="width:100%	">
	  	<div class="span4">
	  		<div class="search">
		  		<span class="fui-search"></span>
		  		<input id="search-info" type="search" class="span3" placeholder="Search">
	  		</div>
	  	</div>
	  	<div class="span6 offset1">
	  	<span id="course-id">2143416</span>
	  	<span id="course-name">User Interface Design</span>
	  	</div>
	  </div>
	</div>
	<div class="row course-body">
	  <div class="span12">
	    <div class="span4">
	      <div class="sidebox">
	      	<div class="professor">Aj. Sivabudh Umpudh</div>
	      	<div class=""></div>
	      </div>
	    </div>
	    <div class="span6 offset1">
	    Course Description
	    </div>
	  </div>
	</div>
</div>