<div class="container" id="body">
  <div class="row">
  <div class="span5 tile">
  <%= image_tag("/assets/Book@2x.png") %>
  <h2 class="fronttitle">ISE wiki</h2>
  share your vision
  </div>
  <div class="span5 tile">
  <%= image_tag("/assets/Pensils@2x.png") %>
  <h2 class="fronttitle">ISE exchange</h2>
  enhance your experience
  </div>
  </div>
</div>