<div class="container" id="body">
  <div class="row">
  <div class="span5 tile">
  <%= image_tag("/assets/Book@2x.png") %>
  <h2>ISE wiki</h2>
  <p>Share your knowledges</p>
  </div>
  <div class="span5 tile">
  <%= image_tag("/assets/Pensils@2x.png") %>
  <h2>ISE exchange</h2>
  <p>Trade your courses</p>
  </div>
  </div>
</div>