/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/
 .course-title .span12{
	background-color: #1abc9c;
	padding: 22px 0px 20px 0px;
	color: #34495e;
	font-size: 19px;
	font-weight: 700;
}

.course-body {
	padding:22px 0px 20px 0px;
}


.body {
	background-color: white;
	color:rgb(127, 130, 133);
	border-bottom:2px solid rgb(189, 195, 199);
	border-top:2px solid rgb(189, 195, 199);
}

.body * {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.body ul {
	list-style-type: none;
	margin:0;
	height:inherit;
}


.body li {
	overflow: hidden;
	cursor:pointer;
}

.body li .fui-arrow-right{
	float:right;
}
 #year, #course, #search-tool{
 	margin-left:0;
}

.big-show .content {
	width:257px;
	color: #798795;
}

.big-show h4 {
	font-size: 17px;
	font-weight: 700;
	color:white;
}

.big-show li {
	padding:28px 28px 20px 28px;
	background-color: rgb(219, 222, 224);
	color:white;
}

.big-show li.active {
    background-color: rgb(236, 240, 241);
    color:#798795;
    /*color: rgb(33, 177, 245);*/
}
.big-show li.active *{
	color:#798795;
	/*color: rgb(33, 177, 245);*/

}

.big-show li .fui-arrow-right {
	font-size:18px;
	line-height: 35px;
}

.small-show li {
	padding:17px 16px 17px 16px;
}
.small-show h4 {
	font-size: 16px;
}
.small-show a:hover {
	color:inherit;
}

.between-column {
	margin-left:2px;
}

.content {
	float:left;
	font-size:13px;
}

.content h4 {
	margin: 1px 0 3px;
}

#course .fui-arrow-right {
	line-height: 35px;
}

/* Footer */

#search-result {
	width:798px;
}

.footer{
	background-color:rgb(44, 62, 80); 
	bottom:0;
	color: white;
	font-size: 19px;
	font-weight: 700;
	line-height: 23px;
	margin-bottom: 0;
	overflow:hidden;
	padding:22px 28px 22px 28px;
}

.search input[type="search"],
.search input[type="text"]{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	background: none;
	border: none;
	box-shadow: none;
	color: white;
	font-size: 19px;
	font-weight: 700;
	line-height: 23px;
	margin: 0;
	padding: 0;
	text-indent: 0;

}

.search .fui-search{
	line-height: 35px;
	font-size:18px;
}

input[type="search"]::-webkit-input-placeholder {
	color: white;
}
input[type="search"]::-moz-placeholder{
	color: white;
}

/* search-info */

#search-info {
	margin-left:7px;
}

#search-tool {
	position:relative;
}


/* columns */

#curriculum {

}

#year {
	background-color:rgb(236, 240, 241);
}


#year li.active {
	background:white;
}

#course {
	background:white;
}

#course li {
	padding:17px 16px 3px 16px;

}




/* ----- Show ------*/

.show *{
	font-family: "Lato", sans-serif;
}

.show h6 {
	font-weight:18px;
	font-weight:200;
}

.show-block {
	border-bottom:1px solid rgb(189, 195, 199);
	padding:13px 18px 10px 20px;
	line-height: 25px;
	font-size:18px;
}

.show-rating {
	margin:0 auto;
	overflow:hidden;
	text-align: center;
	padding:15px 0;
	display:table;
}

.show-year {
	margin:0 auto;
	padding:15px 0;
}

.show-year-block {
	background-color: #34495e;
	border-radius: 6px 6px 6px 6px;
	color: #ffffff;
	padding: 21px 22px;
	margin-bottom:5px;
	text-align: center;
	width:100%;
	font-size:18px;
	font-weight:300;
}

.show-rating-block {
	background-color: #34495e;
	border-left: 2px solid #16a085;
	border-radius: 6px 6px 6px 6px;
	color: #ffffff;
	float:left;
	font-size: 20px;
	font-weight: 300;
	margin: 0 12px 0 0;
	outline: none;
	padding: 30px;
}

.border-left {
	border-left: 1px solid rgb(189, 195, 199);
}